USE [MatrixCollege]
GO
ALTER TABLE [dbo].[Users] DROP CONSTRAINT [FK_Users_Roles_RoleId]
GO
ALTER TABLE [dbo].[Progresses] DROP CONSTRAINT [FK_Progresses_Users_UserId]
GO
ALTER TABLE [dbo].[Progresses] DROP CONSTRAINT [FK_Progresses_Lessons_LessonId]
GO
ALTER TABLE [dbo].[Lessons] DROP CONSTRAINT [FK_Lessons_Courses_CourseId]
GO
ALTER TABLE [dbo].[Enrollments] DROP CONSTRAINT [FK_Enrollments_Users_UserId]
GO
ALTER TABLE [dbo].[Enrollments] DROP CONSTRAINT [FK_Enrollments_Courses_CourseId]
GO
/****** Object:  Index [IX_Users_RoleId]    Script Date: 10/03/2025 0:15:24 ******/
DROP INDEX [IX_Users_RoleId] ON [dbo].[Users]
GO
/****** Object:  Index [IX_Users_Email]    Script Date: 10/03/2025 0:15:24 ******/
DROP INDEX [IX_Users_Email] ON [dbo].[Users]
GO
/****** Object:  Index [IX_Progresses_UserId]    Script Date: 10/03/2025 0:15:24 ******/
DROP INDEX [IX_Progresses_UserId] ON [dbo].[Progresses]
GO
/****** Object:  Index [IX_Progresses_LessonId]    Script Date: 10/03/2025 0:15:24 ******/
DROP INDEX [IX_Progresses_LessonId] ON [dbo].[Progresses]
GO
/****** Object:  Index [IX_Lessons_CourseId]    Script Date: 10/03/2025 0:15:24 ******/
DROP INDEX [IX_Lessons_CourseId] ON [dbo].[Lessons]
GO
/****** Object:  Index [IX_Enrollments_UserId]    Script Date: 10/03/2025 0:15:24 ******/
DROP INDEX [IX_Enrollments_UserId] ON [dbo].[Enrollments]
GO
/****** Object:  Index [IX_Enrollments_CourseId]    Script Date: 10/03/2025 0:15:24 ******/
DROP INDEX [IX_Enrollments_CourseId] ON [dbo].[Enrollments]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 10/03/2025 0:15:24 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Users]') AND type in (N'U'))
DROP TABLE [dbo].[Users]
GO
/****** Object:  Table [dbo].[Roles]    Script Date: 10/03/2025 0:15:24 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Roles]') AND type in (N'U'))
DROP TABLE [dbo].[Roles]
GO
/****** Object:  Table [dbo].[Progresses]    Script Date: 10/03/2025 0:15:24 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Progresses]') AND type in (N'U'))
DROP TABLE [dbo].[Progresses]
GO
/****** Object:  Table [dbo].[Lessons]    Script Date: 10/03/2025 0:15:24 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Lessons]') AND type in (N'U'))
DROP TABLE [dbo].[Lessons]
GO
/****** Object:  Table [dbo].[Enrollments]    Script Date: 10/03/2025 0:15:24 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Enrollments]') AND type in (N'U'))
DROP TABLE [dbo].[Enrollments]
GO
/****** Object:  Table [dbo].[Courses]    Script Date: 10/03/2025 0:15:24 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Courses]') AND type in (N'U'))
DROP TABLE [dbo].[Courses]
GO
/****** Object:  Table [dbo].[__EFMigrationsHistory]    Script Date: 10/03/2025 0:15:24 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[__EFMigrationsHistory]') AND type in (N'U'))
DROP TABLE [dbo].[__EFMigrationsHistory]
GO
USE [master]
GO
/****** Object:  Database [MatrixCollege]    Script Date: 10/03/2025 0:15:24 ******/
DROP DATABASE [MatrixCollege]
GO
/****** Object:  Database [MatrixCollege]    Script Date: 10/03/2025 0:15:24 ******/
CREATE DATABASE [MatrixCollege]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'MatrixCollege', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\MatrixCollege.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'MatrixCollege_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\MatrixCollege_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [MatrixCollege].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [MatrixCollege]
GO
/****** Object:  Table [dbo].[__EFMigrationsHistory]    Script Date: 10/03/2025 0:15:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__EFMigrationsHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK___EFMigrationsHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Courses]    Script Date: 10/03/2025 0:15:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Courses](
	[Id] [uniqueidentifier] NOT NULL,
	[Title] [nvarchar](100) NOT NULL,
	[Description] [nvarchar](3000) NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_Courses] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Enrollments]    Script Date: 10/03/2025 0:15:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Enrollments](
	[Id] [uniqueidentifier] NOT NULL,
	[UserId] [uniqueidentifier] NOT NULL,
	[CourseId] [uniqueidentifier] NOT NULL,
	[EnrolledAt] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_Enrollments] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Lessons]    Script Date: 10/03/2025 0:15:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Lessons](
	[Id] [uniqueidentifier] NOT NULL,
	[CourseId] [uniqueidentifier] NOT NULL,
	[Title] [nvarchar](100) NOT NULL,
	[VideoUrl] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_Lessons] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Progresses]    Script Date: 10/03/2025 0:15:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Progresses](
	[Id] [uniqueidentifier] NOT NULL,
	[UserId] [uniqueidentifier] NOT NULL,
	[LessonId] [uniqueidentifier] NOT NULL,
	[WatchedAt] [datetime2](7) NULL,
 CONSTRAINT [PK_Progresses] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Roles]    Script Date: 10/03/2025 0:15:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Roles](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_Roles] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 10/03/2025 0:15:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[Id] [uniqueidentifier] NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
	[Email] [nvarchar](450) NOT NULL,
	[RoleId] [int] NOT NULL,
	[Password] [nvarchar](800) NOT NULL,
 CONSTRAINT [PK_Users] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20250304161723_initial migration', N'9.0.2')
GO
INSERT [dbo].[Courses] ([Id], [Title], [Description], [CreatedAt]) VALUES (N'fabf1151-6196-4058-9ece-27d1023a1460', N'Data Analyst', N'Learn to collet and analyze corproate levels of data', CAST(N'2025-02-02T00:00:00.0000000' AS DateTime2))
INSERT [dbo].[Courses] ([Id], [Title], [Description], [CreatedAt]) VALUES (N'6cbb2178-ae1b-4bfd-b422-3779a727c718', N'DevOps', N'Learn to integrate software from development stages to published applications.', CAST(N'2025-02-02T00:00:00.0000000' AS DateTime2))
INSERT [dbo].[Courses] ([Id], [Title], [Description], [CreatedAt]) VALUES (N'a81b8b41-9383-4216-98d8-4e6a7a838ca1', N'NodeJS & React', N'Learn fullstack development with node and react', CAST(N'2025-01-01T00:00:00.0000000' AS DateTime2))
GO
INSERT [dbo].[Enrollments] ([Id], [UserId], [CourseId], [EnrolledAt]) VALUES (N'51e382d4-da0f-422a-29b4-08dd5e900d58', N'6ddc0899-88d6-4a80-929e-b910683656a2', N'05bbdfb5-4c8f-4576-977d-4f0be28fdf17', CAST(N'0001-01-01T00:00:00.0000000' AS DateTime2))
INSERT [dbo].[Enrollments] ([Id], [UserId], [CourseId], [EnrolledAt]) VALUES (N'647f87d8-255f-4324-29b5-08dd5e900d58', N'6ddc0899-88d6-4a80-929e-b910683656a2', N'05bbdfb5-4c8f-4576-977d-4f0be28fdf17', CAST(N'0001-01-01T00:00:00.0000000' AS DateTime2))
INSERT [dbo].[Enrollments] ([Id], [UserId], [CourseId], [EnrolledAt]) VALUES (N'2a6fd91d-a4bd-4ed9-29b6-08dd5e900d58', N'6ddc0899-88d6-4a80-929e-b910683656a2', N'ecd0f172-c268-472f-8c69-e03050451033', CAST(N'0001-01-01T00:00:00.0000000' AS DateTime2))
GO
INSERT [dbo].[Lessons] ([Id], [CourseId], [Title], [VideoUrl]) VALUES (N'3a6f5058-e528-468d-cf43-08dd5f552ef3', N'6cbb2178-ae1b-4bfd-b422-3779a727c718', N'Introduction to DevOps & CI/CD Fundamentals', N'https://www.youtube.com/embed/K42anUuFaRI')
INSERT [dbo].[Lessons] ([Id], [CourseId], [Title], [VideoUrl]) VALUES (N'b979cfa0-ebb9-43f0-cf44-08dd5f552ef3', N'6cbb2178-ae1b-4bfd-b422-3779a727c718', N'Version Control with Git & GitHub', N'https://www.youtube.com/embed/K42anUuFaRI')
INSERT [dbo].[Lessons] ([Id], [CourseId], [Title], [VideoUrl]) VALUES (N'ea4c5b5a-46d7-4947-cf45-08dd5f552ef3', N'6cbb2178-ae1b-4bfd-b422-3779a727c718', N'Infrastructure as Code (IaC) with Terraform', N'https://www.youtube.com/embed/K42anUuFaRI')
GO
INSERT [dbo].[Progresses] ([Id], [UserId], [LessonId], [WatchedAt]) VALUES (N'5f86b448-a6b0-4687-4503-08dd5f4700f7', N'c0590bdb-1d26-4f60-f24d-08dd5e218cdd', N'3ee797e8-7ee8-415e-afbc-3c584edd3c0e', CAST(N'2025-03-09T22:21:39.8237437' AS DateTime2))
INSERT [dbo].[Progresses] ([Id], [UserId], [LessonId], [WatchedAt]) VALUES (N'7cdca300-e6d8-414c-4504-08dd5f4700f7', N'c0590bdb-1d26-4f60-f24d-08dd5e218cdd', N'3ee797e8-7ee8-415e-afbc-3c584edd3c0e', CAST(N'2025-03-09T22:21:43.0884102' AS DateTime2))
INSERT [dbo].[Progresses] ([Id], [UserId], [LessonId], [WatchedAt]) VALUES (N'e38b2aa5-408f-4030-4505-08dd5f4700f7', N'c0590bdb-1d26-4f60-f24d-08dd5e218cdd', N'3ee797e8-7ee8-415e-afbc-3c584edd3c0e', CAST(N'2025-03-09T22:21:45.8048620' AS DateTime2))
GO
SET IDENTITY_INSERT [dbo].[Roles] ON 

INSERT [dbo].[Roles] ([Id], [Name]) VALUES (1, N'Admin')
INSERT [dbo].[Roles] ([Id], [Name]) VALUES (2, N'Student')
INSERT [dbo].[Roles] ([Id], [Name]) VALUES (3, N'Professor')
SET IDENTITY_INSERT [dbo].[Roles] OFF
GO
INSERT [dbo].[Users] ([Id], [Name], [Email], [RoleId], [Password]) VALUES (N'e0490704-7b41-41a9-4c66-08dd5d742c0e', N'bart simpson', N'bart@gmail.com', 2, N'IJijYtS8bPpNi7Wki9S0Rkk14iFFqm0pGQUhDcK+fynT9izFryVs1gaV5JhweSu+GKAr7IAQLxrbje5EOj/Ffw==')
INSERT [dbo].[Users] ([Id], [Name], [Email], [RoleId], [Password]) VALUES (N'1836ebdf-9342-45fb-4c67-08dd5d742c0e', N'lisa simpson', N'lisa@gmail.com', 2, N'mwVtoV9Kc4JmJE5dAokSPM0mUHSyBPpZiiiOO3jbpNIPZnLnBkB0+2YGWucXyWYWx45s5Mrqhk8df9HSm9HLUA==')
INSERT [dbo].[Users] ([Id], [Name], [Email], [RoleId], [Password]) VALUES (N'c0590bdb-1d26-4f60-f24d-08dd5e218cdd', N'gal neeman', N'gal@gmail.com', 2, N'y7Xq6Mwp4F3DsO5jdKvdu8OmC76jJlnD9GZ16H8vT/mJocPGQTyy3DLL5ro9ljke1PWS8FR0rDE5Wauwcnkd5w==')
GO
/****** Object:  Index [IX_Enrollments_CourseId]    Script Date: 10/03/2025 0:15:24 ******/
CREATE NONCLUSTERED INDEX [IX_Enrollments_CourseId] ON [dbo].[Enrollments]
(
	[CourseId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Enrollments_UserId]    Script Date: 10/03/2025 0:15:24 ******/
CREATE NONCLUSTERED INDEX [IX_Enrollments_UserId] ON [dbo].[Enrollments]
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Lessons_CourseId]    Script Date: 10/03/2025 0:15:24 ******/
CREATE NONCLUSTERED INDEX [IX_Lessons_CourseId] ON [dbo].[Lessons]
(
	[CourseId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Progresses_LessonId]    Script Date: 10/03/2025 0:15:24 ******/
CREATE NONCLUSTERED INDEX [IX_Progresses_LessonId] ON [dbo].[Progresses]
(
	[LessonId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Progresses_UserId]    Script Date: 10/03/2025 0:15:24 ******/
CREATE NONCLUSTERED INDEX [IX_Progresses_UserId] ON [dbo].[Progresses]
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Users_Email]    Script Date: 10/03/2025 0:15:24 ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_Users_Email] ON [dbo].[Users]
(
	[Email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Users_RoleId]    Script Date: 10/03/2025 0:15:24 ******/
CREATE NONCLUSTERED INDEX [IX_Users_RoleId] ON [dbo].[Users]
(
	[RoleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Enrollments]  WITH CHECK ADD  CONSTRAINT [FK_Enrollments_Courses_CourseId] FOREIGN KEY([CourseId])
REFERENCES [dbo].[Courses] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Enrollments] CHECK CONSTRAINT [FK_Enrollments_Courses_CourseId]
GO
ALTER TABLE [dbo].[Enrollments]  WITH CHECK ADD  CONSTRAINT [FK_Enrollments_Users_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Enrollments] CHECK CONSTRAINT [FK_Enrollments_Users_UserId]
GO
ALTER TABLE [dbo].[Lessons]  WITH CHECK ADD  CONSTRAINT [FK_Lessons_Courses_CourseId] FOREIGN KEY([CourseId])
REFERENCES [dbo].[Courses] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Lessons] CHECK CONSTRAINT [FK_Lessons_Courses_CourseId]
GO
ALTER TABLE [dbo].[Progresses]  WITH CHECK ADD  CONSTRAINT [FK_Progresses_Lessons_LessonId] FOREIGN KEY([LessonId])
REFERENCES [dbo].[Lessons] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Progresses] CHECK CONSTRAINT [FK_Progresses_Lessons_LessonId]
GO
ALTER TABLE [dbo].[Progresses]  WITH CHECK ADD  CONSTRAINT [FK_Progresses_Users_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Progresses] CHECK CONSTRAINT [FK_Progresses_Users_UserId]
GO
ALTER TABLE [dbo].[Users]  WITH CHECK ADD  CONSTRAINT [FK_Users_Roles_RoleId] FOREIGN KEY([RoleId])
REFERENCES [dbo].[Roles] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Users] CHECK CONSTRAINT [FK_Users_Roles_RoleId]
GO
USE [master]
GO
